// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use './reset.scss';
@use '@angular/material' as mat;

:root {
  --gray-50: #eff3f5;
  --gray-100: #e6e6e6;
  --gray-600: #666;
  --green: #a5c757;
  --error-red: #ff3d00;
  --blue: #166983;
  --blue-100: #dfe5ec;
  --blue-500: #617b9e;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--gray-50);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color-scheme: light;

  font: var(--mat-sys-body-medium);
}

// I prefer buttons having pointers.
button:not(:disabled) {
  cursor: pointer;
}
